.list {
  flex: 1;
  display: flex;
  flex-direction: column;

  /* Comic Book Spider */
  background: rgba(30, 41, 59, 0.85); /* panel blue */
  border-right: 2px solid #000000; /* comic outline */
}
